.content
{
    padding: 1.5em;
    font-weight: bold;
    font-size: 14px;
    height: 100%;
}

p
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -.8em;
}

.tag
{
    margin-right: .5em;
    background-color: rgb(255, 236, 127);
}